<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>JUMP</title>
		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet" />
		<!-- CSS -->
		<link rel="stylesheet" href="/css/normalize.css" />
		<link rel="stylesheet" href="/css/styles.css" />
		<!-- FontAwesome -->
		<script src="https://kit.fontawesome.com/f41f4e866a.js" crossorigin="anonymous"></script>
	</head>

<body>
    
    <header>
        <div class="container">
            <div class="logo">
                <a href="/"><img src="/img/logo-white.jpg" alt="JUMP" /></a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="/login" class="login" title="Ingresar"><i class="fas fa-sign-in-alt"></i></a>
                    </li>
                    <li>
                        <a href="/registro" class="registro" title="Creá tu cuenta"><i class="fa fa-user-plus"></i></a>
                    </li>
                    <li>
                        <a href="/carrito" class="carrito" title="Carrito"><i class="fa fa-shopping-cart"></i></a>
                    </li>
                    <li class="burguer-menu">
                        <a href="#"><i class="fas fa-bars"></i></a>
                    </li>
                </ul>
            </nav>
            <div class="search-bar">
                <form action="/search">
                    <input type="search" name="search" id="buscador" placeholder="¿Qué estás buscando?" />
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
        <div class="desktop-menu-container">
            <ul class="desktop-menu container">
                <li><a href="#">Hombre</a></li>
                <li><a href="#">Mujer</a></li>
                <li><a href="#">Niños</a></li>
                <li><a href="#">Marcas</a></li>
                <li><a href="#">Colecciones</a></li>
            </ul>
        </div>
    </header>


    <div class="banner">

        <h2 class="h2-banner">Lorem ipsum dolor sit amet</h2>
         <div class="banner-descrip">
        <i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti harum officiis labore repellat consequatur eveniet. Recusandae, nemo!</i>
         </div>
         <div class="banner-but-div">
        <button class="banner-but">Lorem, ipsum</button>
         </div>
 
         <a href="#" class="vision-balls">
         <i class="far fa-circle"></i>
         <i class="fas fa-circle"></i>
         <i class="far fa-circle"></i>
         </a>
     
     </div>
 
     <section>
         
         <div class="category">
 
         <h3 class="h3-category">CATEGORIAS</h3>
 
         <select name="" id="select">
             <option value="zapatillas">Zapatillas</option>
             <option value="remeras">Remeras</option>
             <option value="buzos">Buzos</option>
             <option value="tops">Tops</option>
             <option value="gorras">Gorras</option>
             <option value="calsas">calzas</option>
             <option value="medias">Medias</option>
             <option value="accesorios">Accesorios</option>
         </select>
 
         <a href="#">
         <button class="fil-butt">FILTRAR</button>
         </a>
 
     </div>
 
     </section>
 
     <main>
 
         <section>
 
         <h3 class="h3-products">Productos</h3>
 
         <div class="prod-box">
 
         <article class="caja-producto-home">
         <img src="img/img-home/bolso.png" alt="" class="product-img">
         <p class="product-descrip">Under Armour Bag</p>
         <p>$8.000</p>
         </article>
     
         <article class="caja-producto-home">
             <img src="img/img-home/zapas.jpeg" alt="" class="product-img">
         <p class="product-descrip">Nike Shoes</p>
         <p>$10.000</p>
         </article>
         
         <article class="caja-producto-home">
             <img src="img/img-home/ropa.png" alt="" class="product-img">
         <p class="product-descrip">Adidas T-shirt</p>
         <p>$7.500</p>
         </article>
 
         <article class="caja-producto-home">
             <img src="img/img-home/top.jpeg" alt="" class="product-img">
         <p class="product-descrip">Reebok Top</p>
         <p>$4.000</p>
         </article>
 
         <article class="caja-producto-home">
             <img src="img/img-home/short.png" alt="" class="product-img">
         <p class="product-descrip">Puma Short</p>
         <p>$6.800</p>
         </article>
 
         <article class="caja-producto-home">
             <img src="img/img-home/combo.jpeg" alt="" class="product-img">
         <p class="product-descrip">Adidas Combo</p>
         <p>$11.300</p>
         </article>
 
         </div>
 
     </section>
 
     </main>
 
     <hr>
     
     <p class="info-boletin">Suscribanse a nuestro boletin</p>
 
     <div class="caja-boletin">
     
     <input type="text" placeholder="Email" class="caja-email">
 
     <a href="#" class="flecha-boletin">
         <i class="fa fa-arrow-right" aria-hidden="true"></i>
     </a>
     </div>
        

    <footer>
        <div class="container">
            <div class="logo">
                <img src="/img/logo-black.jpg" alt="JUMP" />
            </div>
            <nav>
                <ul class="left">
                    <li><a href="#">Hombre</a></li>
                    <li><a href="#">Mujer</a></li>
                    <li><a href="#">Niños</a></li>
                    <li><a href="#">Marcas</a></li>
                    <li><a href="#">Colecciones</a></li>
                </ul>
                <ul class="right">
                    <li><a href="/login">Ingresar</a></li>
                    <li><a href="/registro">Creá tu cuenta</a></li>
                    <li><a href="/carrito">Carrito</a></li>
                    <li>&nbsp;</li>
                    <li class="redes">
                        Seguinos en <a href="#"><i class="fab fa-facebook-square"></i></a> <a href="#"><i class="fab fa-instagram-square"></i></a> <a href="#"><i class="fab fa-twitter-square"></i></a>
                    </li>
                </ul>
            </nav>
            <div class="newsletter">
                <ul>
                    <li class="redes">
                        Seguinos en <a href="#"><i class="fab fa-facebook-square"></i></a> <a href="#"><i class="fab fa-instagram-square"></i></a> <a href="#"><i class="fab fa-twitter-square"></i></a>
                    </li>
                </ul>
                <form action="/newsletter">
                    <input type="email" name="newsletter" id="newsletter" placeholder="Ingresá tu email" />
                    <button type="submit"><i class="fas fa-envelope-open-text"></i></button>
                </form>
            </div>
            <div class="copy">
                <p>JUMP &copy; 2021 - Todos los derechos reservados</p>
            </div>
        </div>
    </footer>
</body>
</html>