<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <link rel="stylesheet" href="css\styles.css">
</head>
<body>
    <header></header>
    <main>
        <section class="inicio-sesion">
            <section class="titulo">
                <h1>Iniciar Sesión</h1>
            </section>
            <section class="subtitulo">
                <p>Complete los datos para poder iniciar iniciar sesion</p>
            </section>
            <section class="formulario">
                <form action="/login" method="">
                    <div class="barras">
                        <div class="mail">
                            <label for="Email"></label>
                                <input type="email" name="email" id="Email" placeholder="Email">
                        </div>
                        <div class="contrasenia">
                            <label for="contrasenia"></label>
                                <input type="password" name="contrasenia" id="contrasenia" placeholder="Contraseña">
                        </div>
                    </div>
                    <div class="botones">   
                        <div class="boton-acceso">
                            <button type="submit">ACCEDER</button>
                        </div>
                        <div class="boton-contrasenia">
                            <button type="button">¿OLVIDASTE TU CONTRASEÑA?</button>
                        </div>
                    </div>
                </form>
            </section>
        </section>
    </main>
    <footer></footer>
</body>
</html>