<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JUMP</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet" />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/f41f4e866a.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="/"><img src="/img/logo-white.jpg" alt="JUMP" /></a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="/login" class="login" title="Ingresar"><i class="fas fa-sign-in-alt"></i></a>
                    </li>
                    <li>
                        <a href="/registro" class="registro" title="Creá tu cuenta"><i class="fa fa-user-plus"></i></a>
                    </li>
                    <li>
                        <a href="/carrito" class="carrito" title="Carrito"><i class="fa fa-shopping-cart"></i></a>
                    </li>
                    <li class="burguer-menu">
                        <a href="#"><i class="fas fa-bars"></i></a>
                    </li>
                </ul>
            </nav>
            <div class="search-bar">
                <form action="/search">
                    <input type="search" name="search" id="buscador" placeholder="¿Qué estás buscando?" />
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
        <div class="desktop-menu-container">
            <ul class="desktop-menu container">
                <li><a href="#">Hombre</a></li>
                <li><a href="#">Mujer</a></li>
                <li><a href="#">Niños</a></li>
                <li><a href="#">Marcas</a></li>
                <li><a href="#">Colecciones</a></li>
            </ul>
        </div>
    </header>
    <!--categorias genericas equipo-->


    <main>
        <div class="container">
            <!-- ----------------------------- -->
            <!--   comienzo de edicion (Fabian) -->
            <!--    ---------------------------- -->
            <nav class="main-carrito">

                <section class="main-flex child-carrito">

                    <h2>Carrito de Compras</h2>
                    <div class="linea-gruesa oculta-carrito"></div>
                    <article>

                        <div class="oculta-carrito"></div>
                        <div class="oculta-carrito producto">Producto</div>
                        <div class="oculta-carrito"></div>
                        <div class="oculta-carrito">Precio</div>
                        <div class="oculta-carrito">Cantidad</div>
                        <div class="oculta-carrito">Subtotal</div>

                    </article>
                    <div class="linea oculta-carrito"></div>

                    <article>
                        <div><button>x</button></div>
                        <div><img src="img\carrito\zap.png" alt="zapatillas"></div>
                        <div>zapatillas talle:XL</div>
                        <div class="oculta-carrito">$$$</div>
                        <div class="oculta-carrito">2</div>
                        <div>$$$</div>

                    </article>




                    <article>

                        <div><button>x</button></div>
                        <div><img src="img\carrito\rem.png" alt="remera"></div>
                        <div> remera talle:L</div>
                        <div class="oculta-carrito">$$$</div>
                        <div class="oculta-carrito">1</div>
                        <div>$$$</div>


                    </article>


                    <article>
                        <!-- cuadro producto comprado-->
                        <!-- version visual, ver como vincular con el producto comprado-->
                        <div><button>x</button></div>
                        <div> <img src="img\carrito\pant.png" alt="pantalon"> </div>
                        <div>pantalon racing talle: L </div>
                        <div class="oculta-carrito">$$$</div>
                        <div class="oculta-carrito">2</div>
                        <div>$$$</div>

                    </article>


                </section>

                <section class="resumen-carrito">

                    <h2 class="titulocart">Resumen de compra</h2>
                    <div class="distancia-carrito">Subtotal $$$</div>
                    <div class="linea largo-resumen">
                        <!-- line -->
                    </div>
                    <div class="total-carrito distancia-carrito">Total $$$</div>

                    <!-- button -->
                    <label>
                        <input type="text" class="cup-carrito largo-resumen" name="cupon"
                            placeholder="¿cupon de descuento?" maxlength="120">
                    </label>

                    <div class="seg-carrito"><button class="largo-resumen">Seguir Comprando</button></div>
                    <div class="fin-carrito"><button class="largo-resumen">Finalizar compra</button></div>

                </section>

            </nav>
            <section class="Fondo">
                <h2 class="titulocart">Agrandá tu pedido y el envio es GRATIS</h2>
                <nav class="carru-flex">
                    <ul>
                        <li><a href="#image1"><img src="img\carrito\pant.png" alt="pantalon"></a></li>
                        <li><a href="#image2"><img src="img\carrito\zap.png" alt="zap"></a></li>
                        <li><a href="#image3"><img src="img\carrito\rem.png" alt="remera"></a></li>

                    </ul>
                </nav>



            </section>

        </div>
    </main>




    <footer>
        <div class="container">
            <div class="logo">
                <img src="/img/logo-black.jpg" alt="JUMP" />
            </div>
            <nav>
                <ul class="left">
                    <li><a href="#">Hombre</a></li>
                    <li><a href="#">Mujer</a></li>
                    <li><a href="#">Niños</a></li>
                    <li><a href="#">Marcas</a></li>
                    <li><a href="#">Colecciones</a></li>
                </ul>
                <ul class="right">
                    <li><a href="/login">Ingresar</a></li>
                    <li><a href="/registro">Creá tu cuenta</a></li>
                    <li><a href="/carrito">Carrito</a></li>
                    <li>&nbsp;</li>
                    <li class="redes">
                        Seguinos en <a href="#"><i class="fab fa-facebook-square"></i></a> <a href="#"><i
                                class="fab fa-instagram-square"></i></a> <a href="#"><i
                                class="fab fa-twitter-square"></i></a>
                    </li>
                </ul>
            </nav>
            <div class="newsletter">
                <ul>
                    <li class="redes">
                        Seguinos en <a href="#"><i class="fab fa-facebook-square"></i></a> <a href="#"><i
                                class="fab fa-instagram-square"></i></a> <a href="#"><i
                                class="fab fa-twitter-square"></i></a>
                    </li>
                </ul>
                <form action="/newsletter">
                    <input type="email" name="newsletter" id="newsletter" placeholder="Ingresá tu email" />
                    <button type="submit"><i class="fas fa-envelope-open-text"></i></button>
                </form>
            </div>
            <div class="copy">
                <p>JUMP &copy; 2021 - Todos los derechos reservados</p>
            </div>
        </div>
    </footer>

</body>

</html>