<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <header></header>


        <main>
            <h2 class="producto">Producto</h2>

            <section class="fotosmultiplas">
                <article class="fotosdetalles">
                    <img src="/img/imgDetalleProducto/foto1" alt="">
                    <img src="/img/imgDetalleProducto/foto2" alt="">
                    <img src="/img/imgDetalleProducto/foto3" alt="">
                    <img src="/img/imgDetalleProducto/foto4" alt="">
                    <img src="/img/imgDetalleProducto/foto5" alt="">
                    <img src="/img/imgDetalleProducto/foto6" alt="">
                    <img src="/img/imgDetalleProducto/foto1fot7" alt="">
                </article>

                <section>
                    <article class="fotoprincipal">
                        <img src="/img/imgDetalleProducto/FotoPrincipal" alt="Zapatilla Negras Nike con rayas blancas">
                    </article>
                    <p>Diponible en otros colores</p>

                    <!-- Acá và un formulàrio para elejir el color // -->
                    <article>


                    </article>
                </section>

                <article class="detalletexto">
                    <p class="descipcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio vitae beatae, id
                        eveniet ab fugiat
                        repellat, libero tempora alias itaque quibusdam. Mollitia explicabo voluptate dignissimos,
                        similique
                        aliquam molestias itaque eligendi!</p>
                </article>
            </section>

            <section class="cajamadre">
                <h4>Produtos relacionados</h4>
                <article class="cajahija">
                    <ol>
                        <li></li><img src="" alt="">
                        <img src="" alt="">
                        <img src="" alt="">
                        <img src="" alt="">
                        <img src="" alt="">
                        <img src="" alt="">
                    </ol>
                </article>
            </section>










        </main>




        <footer></footer>
    </body>

    </html>
</body>

</html>