<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JUMP</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet" />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/f41f4e866a.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <div class="container">
            <div class="logo">
                <a href="/"><img src="/img/logo-white.jpg" alt="JUMP" /></a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="/login" class="login" title="Ingresar"><i class="fas fa-sign-in-alt"></i></a>
                    </li>
                    <li>
                        <a href="/registro" class="registro" title="Creá tu cuenta"><i class="fa fa-user-plus"></i></a>
                    </li>
                    <li>
                        <a href="/carrito" class="carrito" title="Carrito"><i class="fa fa-shopping-cart"></i></a>
                    </li>
                    <li class="burguer-menu">
                        <a href="#"><i class="fas fa-bars"></i></a>
                    </li>
                </ul>
            </nav>
            <div class="search-bar">
                <form action="/search">
                    <input type="search" name="search" id="buscador" placeholder="¿Qué estás buscando?" />
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
        <div class="desktop-menu-container">
            <ul class="desktop-menu container">
                <li><a href="#">Hombre</a></li>
                <li><a href="#">Mujer</a></li>
                <li><a href="#">Niños</a></li>
                <li><a href="#">Marcas</a></li>
                <li><a href="#">Colecciones</a></li>
            </ul>
        </div>
    </header>



    <main>
        <div class="container">
            <h2 class="producto">ZAPATILLAS X9000L2</h2>

            <section class="containerdetalle">
                <article class="fotosdetalles">
                    <img class="fotopequena" src="/img/imgDetalleProducto/foto1.jpg" alt="">
                    <img class="fotopequena" src="/img/imgDetalleProducto/foto2.jpg" alt="">
                    <img class="fotopequena" src="/img/imgDetalleProducto/foto3.jpg" alt="">
                    <img class="fotopequena" src="/img/imgDetalleProducto/foto4.jpg" alt="">
                    <img class="fotopequena" src="/img/imgDetalleProducto/foto5.jpg" alt="">
                    <img class="fotopequena" src="/img/imgDetalleProducto/foto6.jpg" alt="">

                </article>

                <section class="contenedorfotogrande">
                    <article class="fotoprincipal">
                        <img class="fotogrande" src="/img/imgDetalleProducto/FotoPrincipal.jpg"
                            alt="Zapatilla Negras Nike con rayas blancas">
                    </article>

                </section>
                <section class="detalletexto">
                    <article class="opcionestalles">
                        <p class="talle">Eleigí tu Talle</p>
                        <label>
                            <input type="radio" name="medio" value="35">
                            35
                        </label>
                        <label>
                            <input type="radio" name="medio" value="35">
                            36
                        </label>
                        <label>
                            <input type="radio" name="medio" value="35">
                            37
                        </label>
                        <label>
                            <input type="radio" name="medio" value="35">
                            38
                        </label>
                        <label>
                            <input type="radio" name="medio" value="35">
                            39
                        </label>
                        <label>
                            <input type="radio" name="medio" value="35">
                            39
                        </label>

                    </article>
                    <article>
                        <div>
                            <form action="" method="POST">
                                <button class="botomcompra" type="submit">Añadir al Carrito <i
                                        class="fas fa-arrow-right"></i></button>
                            </form>
                        </div>

                        <div>
                            <form action="" method="POST">
                                <button class="megusta" type="submit"><i class="far fa-heart"></i></i></button>
                            </form>
                        </div>
                    </article>


                    <article class="condicionesproductos">
                        <div class="condicionesproductos2">
                            <nav><i class="far fa-credit-card"></i></nav>
                            </nav>Aprovechá hasta 6 cuotas sin interés!</nav>
                        </div>
                        <div class="condicionesproductos2">
                            <i class="fas fa-check"></i>
                            <nav>Devoluciones Gratis</nav>
                        </div>
                        <div class="condicionesproductos2">
                            <i class="fas fa-truck"></i>
                            <nav>Envio Gratis a partir de 7.999</nav>
                        </div>
                    </article>
                </section>

            </section>

            <section class="productosrelacionados">
                <h3 class="prod-relacionados-h3">Productos relacionados</h3>
                <article class="otrosproductos">

                    <div><i class="fas fa-chevron-left"></i></div>
                    <div>
                        <div class="holis">
                        <img class="fotopequena" src="/img/imgDetalleProducto/product1.jpg" alt="">
                        <p class="nomeproducto">Producto1</p>
                        <p class="precio">$10.000</p>
                        </div>
                    </div>

                    <div>
                        <div class="holis">
                        <img class="fotopequena" src="/img/imgDetalleProducto/product2.jpg" alt="">
                        <p class="nomeproducto">Producto2</p>
                        <p class="precio">$10.000</p>
                    </div>
                </div>

                    <div>
                        <div class="holis">
                        <img class="fotopequena" src="/img/imgDetalleProducto/product3.jpg" alt="">
                        <p class="nomeproducto">Producto3</p>
                        <p class="precio">$10.000</p>
                        </div>
                    </div>

                    <div>
                        <img class="fotopequena" src="/img/imgDetalleProducto/product4.jpg" alt="">
                        <p class="nomeproducto">Producto4</p>
                        <p class="precio">$10.000</p>

                    </div>

                    <div>
                        <img class="fotopequena" src="/img/imgDetalleProducto/product5.jpg" alt="">
                        <p class="nomeproducto">Producto5</p>
                        <p class="precio">$10.000</p>
                    </div>

                    <div>
                        <img class="fotopequena" src="/img/imgDetalleProducto/product6.jpg" alt="">
                        <p class="nomeproducto">Producto6</p>
                        <p class="precio">$10.000</p>

                    </div>

                    <div><i class="fas fa-chevron-right"></i></div>



                </article>
            </section>

        </div>

    </main>





    <footer>
        <div class="container">
            <div class="logo">
                <img src="/img/logo-black.jpg" alt="JUMP" />
            </div>
            <nav>
                <ul class="left">
                    <li><a href="#">Hombre</a></li>
                    <li><a href="#">Mujer</a></li>
                    <li><a href="#">Niños</a></li>
                    <li><a href="#">Marcas</a></li>
                    <li><a href="#">Colecciones</a></li>
                </ul>
                <ul class="right">
                    <li><a href="/login">Ingresar</a></li>
                    <li><a href="/registro">Creá tu cuenta</a></li>
                    <li><a href="/carrito">Carrito</a></li>
                    <li>&nbsp;</li>
                    <li class="redes">
                        Seguinos en <a href="#"><i class="fab fa-facebook-square"></i></a> <a href="#"><i
                                class="fab fa-instagram-square"></i></a> <a href="#"><i
                                class="fab fa-twitter-square"></i></a>
                    </li>
                </ul>
            </nav>
            <div class="newsletter">
                <ul>
                    <li class="redes">
                        Seguinos en <a href="#"><i class="fab fa-facebook-square"></i></a> <a href="#"><i
                                class="fab fa-instagram-square"></i></a> <a href="#"><i
                                class="fab fa-twitter-square"></i></a>
                    </li>
                </ul>
                <form action="/newsletter">
                    <input type="email" name="newsletter" id="newsletter" placeholder="Ingresá tu email" />
                    <button type="submit"><i class="fas fa-envelope-open-text"></i></button>
                </form>
            </div>
            <div class="copy">
                <p>JUMP &copy; 2021 - Todos los derechos reservados</p>
            </div>
        </div>
    </footer>
</body>

</html>
</body>

</html>