<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header></header>


    <main>
        <h2 class="producto">Producto</h2>

        <section class="container">
            <article class="fotosdetalles">
                <img src="/img/foto1.jpg" alt="">
                <img src="/img/foto2.jpg" alt="">
                <img src="/img/foto3.jpg" alt="">
                <img src="/img/foto4.jpg" alt="">
                <img src="/img/foto5.jpg" alt="">
                <img src="/img/foto6.jpg" alt="">

            </article>

            <section>
                <article class="fotoprincipal">
                    <img class="fotogrande" src="/img/FotoPrincipal.jpg" alt="Zapatilla Negras Nike con rayas blancas">
                </article>


                <!-- <article>

                          <p>Diponible en otros colores</p>
                         Acá và un formulàrio para elejir el color 
                    </article> // -->
            </section>

            <article class="detalletexto">
                <p class="descipcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio vitae beatae, id
                    eveniet ab fugiat
                    repellat, libero tempora alias itaque quibusdam. Mollitia explicabo voluptate dignissimos,
                    similique
                    aliquam molestias itaque eligendi! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem iusto quos voluptate in quasi deserunt delectus inventore nobis rerum. Consectetur
                    consequuntur reprehenderit cumque. Reprehenderit dignissimos amet cumque illo. Quis, veritatis.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati error aliquid optio iure maxime
                    earum architecto atque molestiae, quod veniam odit unde sapiente harum est quis ut cum doloribus
                    explicabo? </p>
            </article>
        </section>

        <section class="productosrelacionados">
            <h3>Produtos relacionados</h3>
            <article class="otrosproductos">
                <article>
                    <img src="/img/product1.jpg" alt="">
                    <p class="nomeproducto">Producto1</p>
                    <p class="precio">$10.000</p>
                </article>

                <article>
                    <img src="/img/product2.jpg" alt="">
                    <p class="nomeproducto">Producto2</p>
                    <p class="precio">$10.000</p>
                </article>

                <article>
                    <img src="/img/product3.jpg" alt="">
                    <p class="nomeproducto">Producto3</p>
                    <p class="precio">$10.000</p>

                </article>

                <article>
                    <img src="/img/product4.jpg" alt="">
                    <p class="nomeproducto">Producto4</p>
                    <p class="precio">$10.000</p>

                </article>

                <article>
                    <img src="/img/product5.jpg" alt="">
                    <p class="nomeproducto">Producto5</p>
                    <p class="precio">$10.000</p>
                </article>

                <article>
                    <img src="/img/product6.jpg" alt="">
                    <p class="nomeproducto">Producto6</p>
                    <p class="precio">$10.000</p>

                </article>




            </article>
        </section>










    </main>




    <footer></footer>
</body>

</html>
</body>

</html>