<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="E:\Users\Tatiana\Desktop\Fabian\DigitalHouse\ProyectoIntegrador\grupo_4_jump\public\css\normalize.css">
    <link rel="stylesheet" href="E:\Users\Tatiana\Desktop\Fabian\DigitalHouse\ProyectoIntegrador\grupo_4_jump\public\css\styles.css">
</head>
<body>
    <header>
<!-- Generico todo el equipo -->
    </header>
<nav><!--categorias genericas equipo--></nav>
    
<main> <!-- comienzo de edicion (Fabian)-->
    <h2>Carrito de Compras</h2>
    <section> <!-- cuadro detalles-->
        <div class="cuadro"> <!-- agregar clase en css-->
            
            <i><!-- boton--></i>
            <i>Producto</i>
            <i><!-- detalle--></i>
            <i>Precio</i>
            <i>Cantidad</i>
            <i>Subtotal</i>

        </div>
        <article class="cuadro"> <!-- cuadro producto comprado-->
            
            <!-- version visual, ver como vincular con el producto comprado-->
            
            <div>
                <i><!-- boton--></i>
                <i><img src="E:\Users\Tatiana\Desktop\Fabian\DigitalHouse\ProyectoIntegrador\grupo_4_jump\public\img\rem.png" alt="remera"> </i>
                <i> remera Independiente talle:L</i>
                <i>$2000</i>
                <i>2</i>
                <i>$4000</i>
            </div>
        </article>
        
        
        <article class:cuadro5> <!-- cuadro producto comprado-->
            <!-- version visual, ver como vincular con el producto comprado-->
            <div>
                <i><!-- boton--></i>
                <i> <img src="E:\Users\Tatiana\Desktop\Fabian\DigitalHouse\ProyectoIntegrador\grupo_4_jump\public\img\pant.png" alt="pantalon">    </i>
                <i>pantalon racing talle: L </i>
                <i>$1500</i>
                <i> 1 </i>
                <i>$1500</i>
            </div>
        </article>
                       

    </section>
    
    <aside>
        contenido izquierdo carrito
    </aside>
    
</main>
    

    

<footer><!-- Generico todo el equipo --></footer>

</body>
</html>