/* GENERAL */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}
body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
}
p {
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.5;
	margin-bottom: 10px;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
}
header {
	background-color: #fff;
	position: sticky;
	top: 0;
	padding: 15px;
	width: 100%;
}
header .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
header .logo {
	width: 50%;
	font-weight: 700;
	font-size: 1.5rem;
	text-align: left;
}
header .logo a {
	display: block;
}
header .logo a img {
	width: 100px;
}
header nav {
	width: 50%;
}
header nav ul {
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	align-content: center;
	align-items: center;
}
header nav ul li.burguer-menu {
	text-align: right;
}
header nav i {
	color: #000;
}
header .search-bar {
	width: 100%;
	margin: 15px 0 10px;
}
header a,
footer a {
	text-decoration: none;
}
header a {
	color: #000;
	font-size: 0.95rem;
}
header i {
	font-size: 1.3rem;
}
header i::after {
	display: none;
}
header ul,
footer ul {
	list-style: none;
}
header .desktop-menu-container {
	display: none;
}
header .search-bar form {
	display: flex;
	justify-content: space-between;
}
header .search-bar form input {
	width: 100%;
	padding: 5px;
	font-size: 1rem;
	border: 1px solid #000;
	box-shadow: none;
}
header .search-bar form button {
	width: 50px;
	height: 50px;
	background: #000;
	color: #fff;
	border: 1px solid #000;
	box-shadow: none;
}
main {
	flex: 1 0 auto;
	padding: 15px;
}
footer {
	flex-shrink: 0;
	background-color: #000;
	color: #fff;
	padding: 15px;
	font-size: 1rem;
}
footer .container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
footer .logo img {
	width: 75px;
}
footer a {
	color: #fff;
}
footer nav {
	display: flex;
	margin: 15px 0;
}
footer nav ul {
	width: 50%;
	font-size: 0.95rem;
}
footer nav ul li {
	margin: 5px 0;
}
footer ul li.redes a {
	display: inline-block;
	margin: 0 2px;
}
footer ul li.redes a i {
	font-size: 1.3rem;
}
footer .newsletter .redes {
	display: none;
}
footer .newsletter form {
	display: flex;
	justify-content: space-between;
}
footer .newsletter form input {
	width: 100%;
	padding: 5px;
	font-size: 1rem;
	border: 1px solid #fff;
	box-shadow: none;
}
footer .newsletter form button {
	width: 50px;
	height: 50px;
	background: #000;
	color: #fff;
	border: 1px solid #fff;
	box-shadow: none;
}
footer .copy p {
	font-size: 0.8rem;
	text-align: center;
	margin: 30px 0 0;
}

@media (min-width: 768px) {
	header i::after {
		display: inline-block;
		content: '';
		font-family: sans-serif;
		font-weight: 500;
		font-size: 0.95rem;
		margin-left: 8px;
	}
	header i:hover::after {
		font-weight: 700;
	}
	header .login i::after {
		content: 'Ingresar';
	}
	header .registro i::after {
		content: 'Creá tu cuenta';
	}
	header .carrito i::after {
		content: 'Carrito';
	}
	footer .container {
		flex-direction: row;
	}
	footer .logo {
		border-bottom: none;
		width: 25%;
	}
	footer .logo a {
		font-size: 1.5rem;
		margin-top: 20px;
	}
	footer nav {
		width: 50%;
	}
	footer nav .redes {
		display: none;
	}
	footer .newsletter {
		width: 25%;
	}
	footer .newsletter .redes {
		display: block;
		margin: 20px 0 15px;
	}
	footer .copy {
		width: 100%;
	}
}

@media (min-width: 992px) {
	header {
		border-bottom: none;
		width: 100%;
	}
	header .container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	header .logo {
		width: 10%;
		font-weight: 700;
		font-size: 1.5rem;
		text-align: left;
		order: 1;
	}
	header .search-bar {
		width: 45%;
		margin: 15px 0 10px;
		order: 2;
	}
	header nav {
		width: 35%;
		order: 3;
	}
	header nav ul li.burguer-menu {
		display: none;
	}
	header .desktop-menu-container {
		display: block;
		padding: 20px 0;
		margin-top: 10px;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
	}
	header .desktop-menu {
		display: flex;
		width: 100%;
		justify-content: space-evenly;
	}
	header .desktop-menu a {
		font-weight: 300;
	}
	header .desktop-menu a:hover {
		font-weight: 500;
	}
}

@media (min-width: 1200px) {
}

/* GENERAL */









/* CSS DETALLE PRODUCTO */








/* CSS INDEX  */

/*CSS REGISTER y CSS LOGIN  */

.inicio-sesion {
  text-align: center;
  margin: 20%;
  margin-top: 30%;
}
.formulario {
  padding-top: 25px;
}
.botones {
  width: 100%;
  padding-top: 25px;
}
section div.botones .boton-acceso {
  padding-bottom: 10px;
}

section div.botones .boton-contrasenia button {
  background-color: #332d2d;
  color: white;
  width: 100%;
  height: 45px;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

section div.botones .boton-acceso button {
  background-color: #332d2d;
  color: white;
  width: 100%;
  height: 45px;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
section div.boton .boton-registrar button {
  background-color: #332d2d;
  color: white;
  width: 100%;
  height: 45px;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.barras div.mail input {
  color: black;
  width: 99%;
  height: 45px;
  margin-bottom: 5%;
  border: 1px solid black;
}
.barras div.contrasenia input {
  color: black;
  width: 99%;
  height: 45px;
  border: 1px solid black;
  margin-bottom: 5%;
}
.barras div.confirmar-contra input {
  color: black;
  width: 99%;
  height: 45px;
  border: 1px solid black;
  margin-bottom: 5%;
}
.barras div.contra input {
  color: black;
  width: 99%;
  height: 45px;
  border: 1px solid black;
  margin-bottom: 5%;
}

h1 {
  font-size: 45px;
}
p {
  font-size: 20px;
}








/* CSS PRODUCTCART */

.main-carrito {
  background-color: white;
}

.main-carrito section {
  padding: 15px;
}

.titulocart {
  display: block;
  font-size: 20px;
  margin-left: 5px;
  margin-bottom: 10px;
  text-align: center;
}
.detalle-carrito {
  font-size: 15px;
}
.producto {
  display: block;
  width: 50vw;
}

.main-flex {
  display: block;

  margin: auto;
}
.main-flex h2 {
  text-align: center;
}
.main-flex article {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-flex article button {
  background-color: #ff2301;
  font-weight: 700;
}
.main-flex article div {
  margin: 5px;
  width: 20vw;
}

.resumen-carrito {
  background-color: darkgrey;
  padding: 15px;
  display: block;
  margin: 10px;
}
.Fondo {
  background-color: darkgrey;
  padding: 15px;
  margin: 10px;
}

.total-carrito {
  font-weight: 900;
  color: black;
}
.cup-carrito {
  background-color: white;
  padding-top: 5px;
  padding-bottom: 7px;
  margin: 3px;
}
.seg-carrito button {
  background-color: rgb(26, 32, 44);
  color: white;
  padding-top: 5px;
  padding-bottom: 7px;
  margin: 3px;
}
.fin-carrito button {
  background-color: black;
  color: white;
  padding-top: 5px;
  padding-bottom: 7px;
  margin: 3px;
}

.distancia-carrito {
  margin: 5px;
}
.linea-gruesa {
  margin-top: 1px;
  height: 2px;
  background-color: black;
}

.linea {
  height: 0.5px;
  background-color: black;
}

.carru-flex ul {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  list-style: none;
}

.carru-flex ul li {
  margin: auto;
  justify-content: center;
  flex-wrap: nowrap;
}

.carru-flex li img {
  width: 90px;
  height: 90px;
  margin: 10px;
}

.oculta-carrito {
  /*border: dotted 2px red; /*todo lo que se oculta*/
  display: none;
}
.largo-resumen {
  width: 55vw;
}

@media (min-width: 720px) {
  .botones {
    display: flex;
    justify-content: space-between;
  }
  section div.botones .boton-acceso button {
    height: 55px;
    width: 200px;
  }
  section div.botones .boton-contrasenia button {
    height: 55px;
    width: 200px;
  }
  .boton {
    display: flex;
  }
  section div.boton .boton-registrar button {
    width: 200px;
    height: 50px;
  }
  .contra {
    height: 65px;
    width: 200px;
  }
  .confirmar-contra {
    height: 65px;
    width: 200px;
  }
  .contrasenias {
    display: flex;
    justify-content: space-between;
  }




  /* CSS PRODUCTCART */

  .oculta-carrito {
    display: block;
  }

  .main-carrito {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .child-carrito {
    width: 60vw;
  }
  .main-flex {
    margin: 10px;
  }
  .cup-carrito {
    width: 20%;
  }
  .main-flex article {
    width: auto;
  }
  .largo-resumen {
    width: 25vw;
  }
  .Fondo {
    background-color: darkgrey;
    padding: 15px;
    margin: 20px;
  }
}

@media (min-width: 940px) {
  section div.botones .boton-acceso button {
    height: 65px;
    width: 250px;
  }
  section div.botones .boton-contrasenia button {
    height: 65px;
    width: 250px;
  }
  section div.boton .boton-registrar button {
    width: 400px;
    height: 50px;
  }
  .boton {
    display: flex;
  }
  .contrasenias {
    display: flex;
    justify-content: space-between;
  }
  .contra {
    height: 65px;
    width: 250px;
  }
  .confirmar-contra {
    height: 65px;
    width: 250px;
  }
}

@media (min-width: 1100px) {
  .contra {
    height: 65px;
    width: 300px;
  }
  .confirmar-contra {
    height: 65px;
    width: 300px;
  }
}
