<!-- Acá sumamos las vistas automatizadas head -->
<%- include ('./partials/head') %>

	<body class="products">
		<div class="mini-banner-top">
			<p id="banner-word"><i class="fas fa-shopping-cart"></i> &nbsp;3 CUOTAS SIN INTERÉS CON MERCADOPAGO&nbsp; <i class="fab fa-cc-visa"></i> &nbsp;<i class="fab fa-cc-mastercard"></i></p>
		</div>
		<!-- Acá sumamos la vista automatizada header -->
		<%- include ('./partials/header') %>
			
			<main class="container">
				<div class="row">
					<div class="col-12 mt-5 titulo text-center">
						<h1>Marcas</h1>
					</div>
					<div class="col-12 col-sm-6 mt-3">
						<a href="/products/brand/1"><img src="/img/under-armour.jpg" class="img-fluid" alt="Under Armour"></a>
					</div>
					<div class="col-12 col-sm-6 mt-3">
						<a href="/products/brand/2"><img src="/img/nike.jpg" class="img-fluid" alt="Nike"></a>
					</div>
					<div class="col-12 col-sm-6 mt-3">
						<a href="/products/brand/3"><img src="/img/adidas.jpg" class="img-fluid" alt="ADIDAS"></a>
					</div>
					<div class="col-12 col-sm-6 mt-3">
						<a href="/products/brand/4"><img src="/img/rebook.jpg" class="img-fluid" alt="Reebok"></a>
					</div>
					<div class="col-12 col-sm-6 mt-3">
						<a href="/products/brand/5"><img src="/img/puma.jpg" class="img-fluid" alt="Puma"></a>
					</div>
					<div class="col-12 col-sm-6 mt-3">
						<a href="/products/brand/6"><img src="/img/champion.jpg" class="img-fluid" alt="Champion"></a>
					</div>
				</div>
			</main>

			<!-- Acá sumamos la vista automatizada footer -->
			<%- include ('./partials/footer') %>
				
	</body>
	</html>