<!-- Acá sumamos las vistas automatizadas head -->
<%- include ('./partials/head') %>

    <body>
        <div class="mini-banner-top">
            <p id="banner-word"><i class="fas fa-shopping-cart"></i> &nbsp;3 CUOTAS SIN INTERÉS CON MERCADOPAGO&nbsp; <i
                    class="fab fa-cc-visa"></i> &nbsp;<i class="fab fa-cc-mastercard"></i></p>
        </div>
        <!-- Acá sumamos la vista automatizada header -->
        <%- include ('./partials/header') %>

            <main class="container">
                <div class="row">
                    <div class="col-12 mt-5 titulo text-center">
                        <h1>Categorias</h1>
                    </div>
                    <div class="col-12 col-sm-6 mt-3">
                        <a href="/products/category/1"><img src="/img/accesorios.jpg" class="img-fluid" alt="Accesorios"></a>
                    </div>
                    <div class="col-12 col-sm-6 mt-3">
                        <a href="/products/category/2"><img src="/img/zapatillas.jpg" class="img-fluid" alt="Zapatillas"></a>
                    </div>
                    <div class="col-12 col-sm-6 mt-3">
                        <a href="/products/category/3"><img src="/img/remeras.jpg" class="img-fluid" alt="Remeras"></a>
                    </div>
                    <div class="col-12 col-sm-6 mt-3">
                        <a href="/products/category/4"><img src="/img/tops.jpg" class="img-fluid" alt="Tops"></a>
                    </div>
                    <div class="col-12 col-sm-6 mt-3">
                        <a href="/products/category/5"><img src="/img/pantalones.jpg" class="img-fluid" alt="Pantalones"></a>
                    </div>
                    <div class="col-12 col-sm-6 mt-3">
                        <a href="/products/category/6"><img src="/img/buzos.jpg" class="img-fluid" alt="Buzos"></a>
                    </div>
                </div>
            </main>

            <!-- Acá sumamos la vista automatizada footer -->
            <%- include ('./partials/footer') %>

    </body>

    </html>