<!-- Acá sumamos las vistas automatizadas head -->
<%- include ('./partials/head')  %> 

	<body>
		<!-- Acá sumamos la vista automatizada header -->
		<%- include ('./partials/header')  %> 

		<section class="banner">
			<div class="container">
				<h2 class="h2-banner">Mientras más sueñes, <br />más lejos podes llegar</h2>
				<div class="banner-descrip">
					<p>La manera más efectiva de hacerlo, es hacerlo</p>
				</div>
				<div class="banner-but-div">
					<a href="#" class="banner-but">VER PRODUCTOS</a>
				</div>

				<a href="#" class="vision-balls">
					<i class="far fa-circle"></i>
					<i class="fas fa-circle"></i>
					<i class="far fa-circle"></i>
				</a>
			</div>
		</section>

		<main class="container">
			<h3 class="h3-products">Productos</h3>

			<section>
				<section>
					<div class="category">
						<h3 class="h3-category">FILTRAR POR CATEGORÍA</h3>
						<form action="" method="get">
							<select name="categoria" id="select">
								<option value="zapatillas">Zapatillas</option>
								<option value="remeras">Remeras</option>
								<option value="buzos">Buzos</option>
								<option value="tops">Tops</option>
								<option value="gorras">Gorras</option>
								<option value="calsas">Calzas</option>
								<option value="medias">Medias</option>
								<option value="accesorios">Accesorios</option>
							</select>
							<button type="submit" class="fil-butt">FILTRAR</button>
						</form>
					</div>
				</section>

				<div class="prod-box">
					<article class="caja-producto-home">
						<a href="/detalleproducto"><img src="img/img-home/bolso.jpg" alt="Under Armour Bag" class="product-img" /></a>
						<p class="product-descrip">Under Armour Bag</p>
						<p>$8.000</p>
					</article>

					<article class="caja-producto-home">
						<a href="/detalleproducto"><img src="img/img-home/zapas.jpg" alt="Nike Shoes" class="product-img" /></a>
						<p class="product-descrip">Nike Shoes</p>
						<p>$10.000</p>
					</article>

					<article class="caja-producto-home">
						<a href="/detalleproducto"><img src="img/img-home/ropa.jpg" alt="Adidas T-shirt" class="product-img" /></a>
						<p class="product-descrip">Adidas T-shirt</p>
						<p>$7.500</p>
					</article>

					<article class="caja-producto-home">
						<a href="/detalleproducto"><img src="img/img-home/top.jpg" alt="Reebok Top" class="product-img" /></a>
						<p class="product-descrip">Reebok Top</p>
						<p>$4.000</p>
					</article>

					<article class="caja-producto-home">
						<a href="/detalleproducto"><img src="img/img-home/short.jpg" alt="Puma Short" class="product-img" /></a>
						<p class="product-descrip">Puma Short</p>
						<p>$6.800</p>
					</article>

					<article class="caja-producto-home">
						<a href="/detalleproducto"><img src="img/img-home/combo.jpg" alt="Adidas Combo" class="product-img" /></a>
						<p class="product-descrip">Adidas Combo</p>
						<p>$11.300</p>
					</article>
				</div>
			</section>
		</main>

		<section id="cta">
			<div class="container">
				<h3 class="info-boletin">Suscribite a nuestro newsletter</h3>
				<div class="caja-boletin">
					<form action="/suscribir" method="get">
						<input type="email" name="email" placeholder="Email" class="caja-email" />
						<button type="submit" class="flecha-boletin">
							<i class="fa fa-arrow-right" aria-hidden="true"></i>
						</button>
					</form>
				</div>
			</div>
		</section>

		<!-- Acá sumamos la vista automatizada footer -->
		<%- include ('./partials/footer')  %> 
	</body>
</html>
