<!-- Acá sumamos las vistas automatizadas head -->
<%- include ('./partials/head') %>

	<body>
		<div class="mini-banner-top">
			<p id="banner-word">APROVECHA HASTA 3 CUOTAS SIN INTERES</p>
		</div>
		<!-- Acá sumamos la vista automatizada header -->
		<%- include ('./partials/header') %>

			<section class="banner">
				<div class="container">
					<h2 class="h2-banner">Mientras más sueñes, <br />más lejos podes llegar</h2>
					<div class="banner-descrip">
						<p>La manera más efectiva de hacerlo, es hacerlo</p>
					</div>
					<div class="banner-but-div">
						<a href="/products" class="banner-but">VER PRODUCTOS</a>
					</div>
				</div>
				<a href="#" class="vision-balls">
					<i class="far fa-circle" id="ball-1"></i>
					<i class="fas fa-circle" id="ball-2"></i>
					<i class="far fa-circle" id="ball-2"></i>
				</a>
			</section>
			

			<main class="container">
				<h3 class="h3-products">Ofertas</h3>

				<section>
					<section>
						<div class="category">
							<h3 class="h3-category">FILTRAR POR CATEGORÍA</h3>
							<form action="" method="get">
								<select name="categoria" id="select">
									<option value="zapatillas">Zapatillas</option>
									<option value="remeras">Remeras</option>
									<option value="buzos">Buzos</option>
									<option value="tops">Tops</option>
									<option value="gorras">Gorras</option>
									<option value="calsas">Calzas</option>
									<option value="medias">Medias</option>
									<option value="accesorios">Accesorios</option>
								</select>
								<button type="submit" class="fil-butt">FILTRAR</button>
							</form>
						</div>
					</section>

					<div class="prod-box">
						<article class="caja-producto-home" id="cajaProductoHome2">
							<div class="icono-info-container">
								<div class="icono-info" id="iconoInfo2">i</div>
							</div>
							<div class="card-info-container" id="cardInfoContainer2">
								<a href="#"><img src="img/productos/bolso.jpg" alt="Adidas Combo" class="product-img"
										id="productImg2" /></a>
								<p class="display-none" id="description2">STOCK</p>
							</div>
							<p class="product-descrip" id="productDescrip2">Under Armour Bag</p>
							<p id="precio2">$8.000</p>
						</article>

						<article class="caja-producto-home" id="cajaProductoHome3">
							<div class="icono-info-container">
								<div class="icono-info" id="iconoInfo3">i</div>
							</div>
							<div class="card-info-container" id="cardInfoContainer3">
								<a href="#"><img src="img/productos/zapas.jpg" alt="Adidas Combo" class="product-img"
										id="productImg3" /></a>
								<p class="display-none" id="description3">OUT OF STOCK</p>
							</div>
							<p class="product-descrip" id="productDescrip3">Nike Shoes</p>
							<p id="precio3">$10.000</p>
						</article>

						<article class="caja-producto-home" id="cajaProductHome4">
							<div class="icono-info-container">
								<div class="icono-info" id="iconoInfo4">i</div>
							</div>
							<div class="card-info-container" id="cardInfoContainer4">
								<a href="#"><img src="img/productos/ropa.jpg" alt="Adidas Combo" class="product-img"
										id="productImg4" /></a>
								<p class="display-none" id="description4">STOCK</p>
							</div>
							<p class="product-descrip" id="productDescrip4">Adidas T-shirt</p>
							<p id="precio4">$7.500</p>
						</article>

						<article class="caja-producto-home" id="cajaProductoHome5">
							<div class="icono-info-container">
								<div class="icono-info" id="iconoInfo5">i</div>
							</div>
							<div class="card-info-container" id="cardInfoContainer5">
								<a href="#"><img src="img/productos/top.jpg" alt="Adidas Combo" class="product-img"
										id="productImg5" /></a>
								<p class="display-none" id="description5">OUT OF STOCK</p>
							</div>
							<p class="product-descrip" id="productDescrip5">Reebok Top</p>
							<p id="precio5">$4.000</p>
						</article>

						<article class="caja-producto-home" id="cajaProductoHome">
							<div class="icono-info-container">
								<div class="icono-info" id="iconoInfo">i</div>
							</div>
							<div class="card-info-container" id="cardInfoContainer">
								<a href="#"><img src="img/productos/short.jpg" alt="Adidas Combo" class="product-img"
										id="productImg" /></a>
								<p class="display-none" id="description">STOCK</p>
							</div>
							<p class="product-descrip" id="productDescrip">Puma Short</p>
							<p id="precio">$6.800</p>
						</article>

						<article class="caja-producto-home" id="cajaProductoHome6">
							<div class="icono-info-container">
								<div class="icono-info" id="iconoInfo6">i</div>
							</div>
							<div class="card-info-container" id="cardInfoContainer6">
								<a href="#"><img src="img/productos/combo.jpg" alt="Adidas Combo" class="product-img"
										id="productImg6" /></a>
								<p class="display-none" id="description6">OUT OF STOCK</p>
							</div>
							<p class="product-descrip" id="productDescrip6">Adidas Combo</p>
							<p id="precio6">$11.300</p>
						</article>
					</div>
				</section>
			</main>

			<section id="cta">
				<div class="container">
					<h3 class="info-boletin">Suscribite a nuestro newsletter</h3>
					<div class="caja-boletin">
						<form action="/suscribir" method="get">
							<input type="email" name="email" placeholder="Email" class="caja-email" />
							<button type="submit" class="flecha-boletin">
								<i class="fa fa-arrow-right" aria-hidden="true"></i>
							</button>
						</form>
					</div>
				</div>
			</section>

			<!-- Acá sumamos la vista automatizada footer -->
			<%- include ('./partials/footer') %>

				<!-- scripts -->
				<script src="js/scripts.js"></script>
				<script src="js/scrollTransition.js"></script>
				
	</body>

	</html>