<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>JUMP</title>
		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet" />
		<!-- CSS -->
		<link rel="stylesheet" href="/css/normalize.css" />
		<link rel="stylesheet" href="/css/styles.css" />
		<!-- FontAwesome -->
		<script src="https://kit.fontawesome.com/f41f4e866a.js" crossorigin="anonymous"></script>
	</head>

	<body>
		<header>
			<div class="container">
				<div class="logo">
					<a href="/"><img src="/img/logo-white.jpg" alt="JUMP" /></a>
				</div>
				<nav>
					<ul>
						<li>
							<a href="/login" class="login" title="Ingresar"><i class="fas fa-sign-in-alt"></i></a>
						</li>
						<li>
							<a href="/register" class="registro" title="Creá tu cuenta"><i class="fa fa-user-plus"></i></a>
						</li>
						<li>
							<a href="/productCart" class="carrito" title="Carrito"><i class="fa fa-shopping-cart"></i></a>
						</li>
						<li class="burguer-menu">
							<a href="#"><i class="fas fa-bars"></i></a>
						</li>
					</ul>
				</nav>
				<div class="search-bar">
					<form action="/search">
						<input type="search" name="search" id="buscador" placeholder="¿Qué estás buscando?" />
						<button type="submit"><i class="fa fa-search"></i></button>
					</form>
				</div>
			</div>
			<div class="desktop-menu-container">
				<ul class="desktop-menu container">
					<li><a href="#">Hombre</a></li>
					<li><a href="#">Mujer</a></li>
					<li><a href="#">Niños</a></li>
					<li><a href="#">Marcas</a></li>
					<li><a href="#">Colecciones</a></li>
				</ul>
			</div>
		</header>

		<section class="banner">
			<div class="container">
				<h2 class="h2-banner">Mientras más sueñes, <br />más lejos podes llegar</h2>
				<div class="banner-descrip">
					<p>La manera más efectiva de hacerlo, es hacerlo</p>
				</div>
				<div class="banner-but-div">
					<a href="#" class="banner-but">VER PRODUCTOS</a>
				</div>

				<a href="#" class="vision-balls">
					<i class="far fa-circle"></i>
					<i class="fas fa-circle"></i>
					<i class="far fa-circle"></i>
				</a>
			</div>
		</section>

		<main class="container">
			<h3 class="h3-products">Productos</h3>

			<section>
				<section>
					<div class="category">
						<h3 class="h3-category">FILTRAR POR CATEGORÍA</h3>
						<form action="" method="get">
							<select name="categoria" id="select">
								<option value="zapatillas">Zapatillas</option>
								<option value="remeras">Remeras</option>
								<option value="buzos">Buzos</option>
								<option value="tops">Tops</option>
								<option value="gorras">Gorras</option>
								<option value="calsas">Calzas</option>
								<option value="medias">Medias</option>
								<option value="accesorios">Accesorios</option>
							</select>
							<button type="submit" class="fil-butt">FILTRAR</button>
						</form>
					</div>
				</section>

				<div class="prod-box">
					<article class="caja-producto-home">
						<a href="/detalleproducto"><img src="img/img-home/bolso.jpg" alt="Under Armour Bag" class="product-img" /></a>
						<p class="product-descrip">Under Armour Bag</p>
						<p>$8.000</p>
					</article>

					<article class="caja-producto-home">
						<a href="/detalleproducto"><img src="img/img-home/zapas.jpg" alt="Nike Shoes" class="product-img" /></a>
						<p class="product-descrip">Nike Shoes</p>
						<p>$10.000</p>
					</article>

					<article class="caja-producto-home">
						<a href="/detalleproducto"><img src="img/img-home/ropa.jpg" alt="Adidas T-shirt" class="product-img" /></a>
						<p class="product-descrip">Adidas T-shirt</p>
						<p>$7.500</p>
					</article>

					<article class="caja-producto-home">
						<a href="/detalleproducto"><img src="img/img-home/top.jpg" alt="Reebok Top" class="product-img" /></a>
						<p class="product-descrip">Reebok Top</p>
						<p>$4.000</p>
					</article>

					<article class="caja-producto-home">
						<a href="/detalleproducto"><img src="img/img-home/short.jpg" alt="Puma Short" class="product-img" /></a>
						<p class="product-descrip">Puma Short</p>
						<p>$6.800</p>
					</article>

					<article class="caja-producto-home">
						<a href="/detalleproducto"><img src="img/img-home/combo.jpg" alt="Adidas Combo" class="product-img" /></a>
						<p class="product-descrip">Adidas Combo</p>
						<p>$11.300</p>
					</article>
				</div>
			</section>
		</main>

		<section id="cta">
			<div class="container">
				<h3 class="info-boletin">Suscribite a nuestro newsletter</h3>
				<div class="caja-boletin">
					<form action="/suscribir" method="get">
						<input type="email" name="email" placeholder="Email" class="caja-email" />
						<button type="submit" class="flecha-boletin">
							<i class="fa fa-arrow-right" aria-hidden="true"></i>
						</button>
					</form>
				</div>
			</div>
		</section>

		<footer>
			<div class="container">
				<div class="logo">
					<img src="/img/logo-black.jpg" alt="JUMP" />
				</div>
				<nav>
					<ul class="left">
						<li><a href="#">Hombre</a></li>
						<li><a href="#">Mujer</a></li>
						<li><a href="#">Niños</a></li>
						<li><a href="#">Marcas</a></li>
						<li><a href="#">Colecciones</a></li>
					</ul>
					<ul class="right">
						<li><a href="/login">Ingresar</a></li>
						<li><a href="/registro">Creá tu cuenta</a></li>
						<li><a href="/carrito">Carrito</a></li>
						<li>&nbsp;</li>
						<li class="redes">
							Seguinos en <a href="#"><i class="fab fa-facebook-square"></i></a> <a href="#"><i class="fab fa-instagram-square"></i></a> <a href="#"><i class="fab fa-twitter-square"></i></a>
						</li>
					</ul>
				</nav>
				<div class="newsletter">
					<ul>
						<li class="redes">
							Seguinos en <a href="#"><i class="fab fa-facebook-square"></i></a> <a href="#"><i class="fab fa-instagram-square"></i></a> <a href="#"><i class="fab fa-twitter-square"></i></a>
						</li>
					</ul>
					<form action="/newsletter">
						<input type="email" name="newsletter" id="newsletter" placeholder="Ingresá tu email" />
						<button type="submit"><i class="fas fa-envelope-open-text"></i></button>
					</form>
				</div>
				<div class="copy">
					<p>JUMP &copy; 2021 - Todos los derechos reservados</p>
				</div>
			</div>
		</footer>
	</body>
</html>
