<!-- Acá sumamos las vistas automatizadas head -->
<%- include ('./partials/head')  %> 

<body>
  <!-- Acá sumamos la vista automatizada header -->
  <%- include ('./partials/header')  %> 

    <!--categorias genericas equipo-->


    <main>
        <div class="container">
            <!-- ----------------------------- -->
            <!--   comienzo de edicion (Fabian) -->
            <!--    ---------------------------- -->
            <div class="main-carrito">

                <section class="main-flex child-carrito">

                    <h2>Carrito de Compras</h2>
                    <div class="linea-gruesa oculta-carrito"></div>
                    <article>

                        <div class="oculta-carrito"></div>
                        <div class="oculta-carrito producto">Producto</div>
                        <div class="oculta-carrito"></div>
                        <div class="oculta-carrito">Precio</div>
                        <div class="oculta-carrito">Cantidad</div>
                        <div class="oculta-carrito">Subtotal</div>

                    </article>
                    <div class="linea oculta-carrito"></div>

                    <article>
                        <div><button>x</button></div>
                        <div><img src="img\img-home\zapas.jpg" alt="zapatillas"></div>
                        <div>zapatillas talle:XL</div>
                        <div class="oculta-carrito">$$$</div>
                        <div class="oculta-carrito">2</div>
                        <div>$$$</div>

                    </article>




                    <article>

                        <div><button>x</button></div>
                        <div><img src="img\img-home\bolso.jpg" alt="remera"></div>
                        <div> remera talle:L</div>
                        <div class="oculta-carrito">$$$</div>
                        <div class="oculta-carrito">1</div>
                        <div>$$$</div>


                    </article>


                    <article>
                        <!-- cuadro producto comprado-->
                        <!-- version visual, ver como vincular con el producto comprado-->
                        <div><button>x</button></div>
                        <div> <img src="img\img-home\short.jpg" alt="pantalon"></div>
                        <div>pantalon racing talle: L </div>
                        <div class="oculta-carrito">$$$</div>
                        <div class="oculta-carrito">2</div>
                        <div>$$$</div>

                    </article>


                </section>

                <section class="resumen-carrito">

                    <h2 class="titulocart">Resumen de compra</h2>
                    <div class="distancia-carrito">Subtotal $$$</div>
                    <div class="linea largo-resumen">
                        <!-- line -->
                    </div>
                    <div class="total-carrito distancia-carrito">Total $$$</div>

                    <!-- button -->
                    <label class="label-carrito">
                        <input type="text" class="cup-carrito largo-resumen" name="cupon"
                            placeholder="¿cupon de descuento?" maxlength="120">
                    </label>

                    <div class="seg-carrito"><button class="largo-resumen">Seguir Comprando</button></div>
                    <div class="fin-carrito"><button class="largo-resumen">Finalizar compra</button></div>

                </section>

            </div>
            <section class="Fondo">
                <h2 class="titulocart">Agrandá tu pedido y el envio es GRATIS</h2>
                <div class="carru-flex">
                    <ul>
                        <li><a href="#image1"><img src="img\img-home\zapas.jpg" alt="pantalon"></a></li>
                        <li><a href="#image2"><img src="img\img-home\short.jpg" alt="zap"></a></li>
                        <li><a href="#image3"><img src="img\img-home\bolso.jpg" alt="remera"></a></li>

                    </ul>
                </div>



            </section>

        </div>
    </main>




    <!-- Acá sumamos la vista automatizada footer -->
		<%- include ('./partials/footer')  %> 
</body>

</html>