<!-- Acá sumamos las vistas automatizadas head -->
<%- include ('./partials/head')  %> 

<body>

    <!-- Acá sumamos la vista automatizada header -->
		<%- include ('./partials/header')  %> 



    <main>
        <div class="container">
            <h2 class="producto">ZAPATILLAS X9000L2</h2>

            <section class="containerdetalle">
                <article class="fotosdetalles">
                    <img class="fotopequena" src="/img/imgDetalleProducto/foto1.jpg" alt="">
                    <img class="fotopequena" src="/img/imgDetalleProducto/foto2.jpg" alt="">
                    <img class="fotopequena" src="/img/imgDetalleProducto/foto3.jpg" alt="">
                    <img class="fotopequena" src="/img/imgDetalleProducto/foto4.jpg" alt="">
                    <img class="fotopequena" src="/img/imgDetalleProducto/foto5.jpg" alt="">
                    <img class="fotopequena" src="/img/imgDetalleProducto/foto6.jpg" alt="">

                </article>

                <section class="contenedorfotogrande">
                    <article class="fotoprincipal">
                        <img class="fotogrande" src="/img/imgDetalleProducto/FotoPrincipal.jpg"
                            alt="Zapatilla Negras Nike con rayas blancas">
                    </article>

                </section>
                <section class="detalletexto">
                    <article class="opcionestalles">
                        <p class="talle">Eleigí tu Talle</p>
                        <label>
                            <input type="radio" name="medio" value="35">
                            35
                        </label>
                        <label>
                            <input type="radio" name="medio" value="35">
                            36
                        </label>
                        <label>
                            <input type="radio" name="medio" value="35">
                            37
                        </label>
                        <label>
                            <input type="radio" name="medio" value="35">
                            38
                        </label>
                        <label>
                            <input type="radio" name="medio" value="35">
                            39
                        </label>
                        <label>
                            <input type="radio" name="medio" value="35">
                            39
                        </label>

                    </article>
                    <article>
                        <div>
                            <form action="" method="POST">
                                <button class="botomcompra" type="submit">Añadir al Carrito <i
                                        class="fas fa-arrow-right"></i></button>
                            </form>
                        </div>

                        <div>
                            <form action="" method="POST">
                                <button class="megusta" type="submit"><i class="far fa-heart"></i></i></button>
                            </form>
                        </div>
                    </article>


                    <article class="condicionesproductos">
                        <div class="condicionesproductos2">
                            <nav><i class="far fa-credit-card"></i></nav>
                            </nav>Aprovechá hasta 6 cuotas sin interés!</nav>
                        </div>
                        <div class="condicionesproductos2">
                            <i class="fas fa-check"></i>
                            <nav>Devoluciones Gratis</nav>
                        </div>
                        <div class="condicionesproductos2">
                            <i class="fas fa-truck"></i>
                            <nav>Envio Gratis a partir de 7.999</nav>
                        </div>
                    </article>
                </section>

            </section>

            <section class="productosrelacionados">
                <h3 class="prod-relacionados-h3">Productos relacionados</h3>
                <article class="otrosproductos">

                    <div><i class="fas fa-chevron-left"></i></div>
                    <div>
                        <div class="holis">
                        <img class="fotopequena" src="/img/imgDetalleProducto/product1.jpg" alt="">
                        <p class="nomeproducto">Producto1</p>
                        <p class="precio">$10.000</p>
                        </div>
                    </div>

                    <div>
                        <div class="holis">
                        <img class="fotopequena" src="/img/imgDetalleProducto/product2.jpg" alt="">
                        <p class="nomeproducto">Producto2</p>
                        <p class="precio">$10.000</p>
                    </div>
                </div>

                    <div>
                        <div class="holis">
                        <img class="fotopequena" src="/img/imgDetalleProducto/product3.jpg" alt="">
                        <p class="nomeproducto">Producto3</p>
                        <p class="precio">$10.000</p>
                        </div>
                    </div>

                    <div>
                        <img class="fotopequena" src="/img/imgDetalleProducto/product4.jpg" alt="">
                        <p class="nomeproducto">Producto4</p>
                        <p class="precio">$10.000</p>

                    </div>

                    <div>
                        <img class="fotopequena" src="/img/imgDetalleProducto/product5.jpg" alt="">
                        <p class="nomeproducto">Producto5</p>
                        <p class="precio">$10.000</p>
                    </div>

                    <div>
                        <img class="fotopequena" src="/img/imgDetalleProducto/product6.jpg" alt="">
                        <p class="nomeproducto">Producto6</p>
                        <p class="precio">$10.000</p>

                    </div>

                    <div><i class="fas fa-chevron-right"></i></div>



                </article>
            </section>

        </div>

    </main>





        <!-- Acá sumamos la vista automatizada footer -->
		<%- include ('./partials/footer')  %> 
</body>

</html>
</body>

</html>