<!-- Acá sumamos las vistas automatizadas head -->
<%- include ('./partials/head')  %> 

<body>
    	<!-- Acá sumamos la vista automatizada header -->
		<%- include ('./partials/header') %>

    <h1 style="margin-left: 10%;">Hi  </h1>

    <img src="/images/ ?  " alt="perfil" height="200px" style="margin-left: 10%;" >

    <div style="margin-left: 10%;margin-top: 1%;background-color: grey;margin-right: 74%;"> ? </div>

    
</body>
</html>