<footer class="mt-5">
	<div class="container">
		<div class="logo">
			<img src="/img/logo-black.jpg" alt="JUMP" />
		</div>
		<nav>
			<ul class="left">
				<li><a href="/">INICIO</a></li>
				<li><a href="/products">TIENDA ONLINE</a></li>
				<li><a href="#">PROMOCIONES</a></li>
			</ul>
			<ul class="right">
				<li><a href="#">COLECCIONES</a></li>
				<li><a href="#">LOCALES</a></li>
				<li><a href="#">PREGUNTAS FRECUENTES</a></li>
				<li>&nbsp;</li>
				<li class="redes">
					Seguinos en <a href="#"><i class="fab fa-facebook-square"></i></a> <a href="#"><i class="fab fa-instagram-square"></i></a> <a href="#"><i class="fab fa-twitter-square"></i></a>
				</li>
			</ul>
		</nav>
		<div class="newsletter">
			<ul>
				<li class="redes">
					Seguinos en <a href="#"><i class="fab fa-facebook-square"></i></a> <a href="#"><i class="fab fa-instagram-square"></i></a> <a href="#"><i class="fab fa-twitter-square"></i></a>
				</li>
			</ul>
			<form id="newsForm" action="/">
				<input type="email" name="newsletter" id="newsletter" placeholder="Ingresá tu email" />
				<button type="submit"><i class="fas fa-envelope-open-text"></i></button>
			</form>
		</div>
		<div class="copy">
			<p>JUMP Store &copy; 2021 - Todos los derechos reservados</p>
		</div>
	</div>
</footer>

<a id="whatsapp" href="https://wa.me/+5491164774002?text=Quisiera%20consultar%20por%20un%20producto" target="_blank">
	<img src="img/whatsapp.png" alt="WhatsApp" />
</a>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/f41f4e866a.js" crossorigin="anonymous"></script>
<!-- <script src="js/scrollTransition.js"></script> -->
<script src="/js/scrollreveal.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/validation.js"></script>
<script src="/js/scripts.js"></script>
