<footer>
    <div class="container">
        <div class="logo">
            <img src="/img/logo-black.jpg" alt="JUMP" />
        </div>
        <nav>
            <ul class="left">
                <li><a href="#">Hombre</a></li>
                <li><a href="#">Mujer</a></li>
                <li><a href="#">Niños</a></li>
                <li><a href="#">Marcas</a></li>
                <li><a href="#">Colecciones</a></li>
            </ul>
            <ul class="right">
                <li><a href="/login">Ingresar</a></li>
                <li><a href="/registro">Creá tu cuenta</a></li>
                <li><a href="/carrito">Carrito</a></li>
                <li>&nbsp;</li>
                <li class="redes">
                    Seguinos en <a href="#"><i class="fab fa-facebook-square"></i></a> <a href="#"><i class="fab fa-instagram-square"></i></a> <a href="#"><i class="fab fa-twitter-square"></i></a>
                </li>
            </ul>
        </nav>
        <div class="newsletter">
            <ul>
                <li class="redes">
                    Seguinos en <a href="#"><i class="fab fa-facebook-square"></i></a> <a href="#"><i class="fab fa-instagram-square"></i></a> <a href="#"><i class="fab fa-twitter-square"></i></a>
                </li>
            </ul>
            <form action="/newsletter">
                <input type="email" name="newsletter" id="newsletter" placeholder="Ingresá tu email" />
                <button type="submit"><i class="fas fa-envelope-open-text"></i></button>
            </form>
        </div>
        <div class="copy">
            <p>JUMP &copy; 2021 - Todos los derechos reservados</p>
        </div>
    </div>
</footer>