<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>JUMP</title>
		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet" />
		<!-- CSS -->
		<link rel="stylesheet" href="/css/normalize.css" />
		<link rel="stylesheet" href="/css/styles.css" />
		<!-- JAVASCRIPT -->
		<script src="/js/scrollreveal.js"></script>
		<!-- FontAwesome -->
		<script src="https://kit.fontawesome.com/f41f4e866a.js" crossorigin="anonymous"></script>
	</head>