<header>
	<div class="container">
		<div class="logo">
			<a href="/"><img src="/img/logo-white.png" alt="JUMP" /></a>
		</div>
		<nav>
			<ul>
				<% if (locals.isLogged) { %>
				<li>
					<div class="logout-container">
					<img src="/img/usersAvatars/<%= locals.userLogged.avatar_image %> " style="border-radius: 50%;width: 18%;padding-left: 5%;" alt="Foto de Perfil">
					 Hola <%= locals.userLogged.name %> 
					<a  href="/user/logout" class="logout" title="Salir"><i class="fas fa-sign-in-alt"></i> CERRAR SESIÓN</a>
					</div>
				</li>
				<% } else { %>
				<li>
					<a href="/user/login" class="login" title="Ingresar"><i class="fas fa-sign-in-alt"></i> INGRESAR</a>
				</li>
				<li>
					<a href="/user/register" class="registro" title="Creá tu cuenta"><i class="fa fa-user-plus"></i> REGISTRARSE</a>
				</li>

				<li>
					<a href="#" class="carrito" title="Carrito"><i class="fa fa-shopping-cart"></i> IR AL CARRITO</a>
				</li>
				<% } %>

				<li class="burguer-menu">
					<a href="#"><i class="fas fa-bars"></i></a>
				</li>
			</ul>
		</nav>
		<div class="search-bar">
			<form action="/search">
				<input type="search" name="search" id="buscador" placeholder="¿Qué estás buscando?" />
				<button type="submit"><i class="fa fa-search"></i></button>
			</form>
		</div>
	</div>
	<div class="desktop-menu-container">
		<ul class="desktop-menu container">
			<li><a href="/">INICIO</a></li>
			<li><a href="/products">TIENDA ONLINE</a></li>
			<li><a href="#">PROMOCIONES</a></li>
			<li><a href="#">COLECCIONES</a></li>
			<li><a href="#">LOCALES</a></li>
			<li><a href="#">PREGUNTAS FRECUENTES</a></li>
		</ul>
	</div>
</header>
